{% extends 'sport_categories/base.html' %}

{% block main %}
     <div>
         Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }} </br>
        {% for obj in page_obj %}
            {{ obj.sport_name }}
             </br>
        {% endfor %}
     </div>
     {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Следующая страница</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Последняя страница</a>
     {% endif %}
    {% if page_obj.has_previous %}
            <a href="?page=1">Первая страница</a>
            <a href="?page={{ sport_categories.previous_page_number }}">Назад</a>
    {% endif %}
{% endblock main %}